/* Background Video */
#background-video {
    filter: grayscale(30%) hue-rotate(255deg) brightness(0.4);
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-size: cover;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Headings */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Links */
a {
    text-decoration: none;
}

/* Paragraphs */
p {
    font-size: 1rem;
}

/* Header */
header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin: 50px;
}

#nav-btns {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0 auto;
}

#nav-btns a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 22px 12px;
    transition: transform 0.2s;
}

#nav-btns a:hover {
    color: #dcdcdc;
    text-align: center;
    text-decoration: none;
    transform: scale(1.10);
}

/* Language Selector */
#tab-container {
    position: absolute;
    right: 90px;
}

.tab-button {
    position: relative;
    display: inline-block;
}

.tab-button img {
    padding: 6px;
    width: 40px;
}

#tab-container:hover .tab-languages {
    display: block;
    z-index: 1;
}

.tab-languages {
    display: none;
    position: absolute;
    z-index: 1;
}

.language-btn {
    background-color: transparent;
    padding: 10px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.language-btn:hover {
    transform: scale(1.4);
}

.language-img {
    width: 30px;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(4px);
}

/* Sections */
section {
    margin-top: 20px;
    width: 80%;
}

/* Buttons */
.projects-btn {
    padding-left: 40px !important;
}

.contact-btn {
    padding-right: 40px !important;
}

/* About Section */
#about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

#about h1 {
    color: white;
    padding-top: 100px;
    font-size: 4rem;
    max-width: 80%;
}

#about span {
    color: rgb(139, 137, 216);
    font-weight: 900;
}

/* Touch Button */
#touch-btn {
    padding: 10px 30px;
    transition: transform 0.2s;
}

#touch-btn:hover {
    transform: scale(1.05);
}

/* Arrow Icon */
.arrow {
    height: 20px;
    filter: invert(99%) sepia(7%) saturate(202%) hue-rotate(208deg) brightness(115%) contrast(100%);
}

/* Projects Container */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}


.project {
    display: flex;
    align-items: center;
}

.project img {
    max-width: 50%;
}

/* Skills section */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Skills ontainer */
.skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    transition: 0.2s;
}

/* Skills Experience */
.skills-experience {
    display: flex;
    background: url(images/gifs/tv-interference.webp);
    background-size: cover;
    color: #000000;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1 / 3;
    border-radius: 20px;
}

.skills-experience div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.8;
    background-color: white;
    border-radius: 20px;
}

.skills-experience img {
    border-radius: 20px;
}

.skills-experience h3 {
    margin: 0;
    border-radius: 20px;
    font-size: 2rem;
    padding-bottom: 10px;
}

/* Invitation Section */
#invitation {
    display: flex;
    flex-direction: column;
    filter: invert();
    padding: 30px;
    border-radius: 15px;
    align-items: center;
    background: url(images/gifs/noise1.webp);
    background-size: cover;
    grid-column-start: 3;
    grid-column-end: 4;
}

#invitation-text {
    margin: 0;
}

#invitation-button {
    color: #fff;
    padding: 15px 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #221c74;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(122, 122, 122, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(75, 75, 75, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

/* Skill Learning */
#skill-learning {
    background: url(images/gifs/space-travel.webp);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    grid-column-start: 3;
    grid-column-end: 4;
}

#skill-learning div {
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

#skill-learning img {
    height: 100px;
    filter: invert();
}

#skill-learning button {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0);
    width: 50%;
}

#skill-learning button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#skill-learning button:active {
    border-width: 4px 0 0;
    background: none;
}


/* Contact Background */
.contact-background {
    background: url(images/gifs/star-rain.webp) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 2px;
}

/* Contact Form */
#contact {
    width: 60%;
}

#contact form {
    border-radius: 30px;
    display: flex;
    backdrop-filter: blur(50px);
    padding: 40px 40px;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 700;
}

#form-inner {
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex-wrap: wrap;
}

#contact-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-row div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    align-items: center;
}

#contact-column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#contact label {
    align-self: flex-start;
    padding: 12px 0px;
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

#contact input {
    padding: 12px;
    width: 90%;
    align-self: flex-start;
    color: white;
    background-color: #130f25;
    border: 1px solid white;
    border-radius: 10px;
}

#contact textarea {
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: white;
    background-color: #130f25;
    border: 1px solid white;
    border-radius: 10px;
}

#contact button {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#contact button:hover {
    transform: scale(1.01);
}

/* Footer */
footer {
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: white;
}

footer h2 {
    font-size: 1.5rem;
}

footer ul {
    list-style: none;
    width: 20%;
    display: flex;
    flex-direction: r;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

footer ul li a img {
    width: 50px;
    height: 50px;
}

/* Border Animation */
@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

.border-animation {
    animation: 4s linear 0s infinite normal none running spin;
    background: linear-gradient(to bottom, oklch(0 0.2 240 / 2), oklch(0 0.2 240 / 2)) padding-box,
        conic-gradient(from var(--bg-angle), oklch(0.85 0.37 0), oklch(0.1 0.2 240)) border-box;
    box-shadow: oklch(0.1 0.37 315 / 0.25) 0.1rem 0.2rem 0.2rem 0.2rem;
    color: white;
    text-align: center;
    list-style: none;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 1.5rem;
    border-radius: 1rem;
}

/* Floating Button */
.to-top {
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
}


/* Media Queries for Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 2rem !important;
    }

    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 1.75rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-btns {
        flex-direction: column;
        width: 100%;
    }

    #nav-btns li a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: transform 0.2s;
    }

    /* Buttons */

    .project a {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .project a img {
        border-radius: 0px 0px 15px 15px;
        max-width: 100%;
        bottom: 0px;
    }

    .projects-btn {
        padding-left: 15px !important;
    }

    .contact-btn {
        padding-right: 15px !important;
    }

    #nav-btns a {
        padding: 15px;
        text-align: left;
    }

    #tab-container {
        display: none;
    }

    section {
        margin-top: 15px;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skills-experience div {
        display: flex;
        width: 100%;
    }

    .skills-experience img {
        width: 100%;
    }

    #contact {
        width: 90%;
    }

    #contact-row div {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .to-top{
        display: none !important;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

/* Media Queries for Phones */
@media screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 2.5rem !important;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav {
        margin: 0;
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
    }

    #nav-btns {
        flex-direction: column;
        width: 90%;
    }

    #nav-btns li a {
        text-decoration: none;
        font-weight: 500;
        padding: 5px 0px;
        transition: transform 0.2s;
    }

    /* Buttons */
    .projects-btn {
        padding-left: 0px !important;
    }

    .contact-btn {
        padding-right: 0px !important;
    }


    #tab-container {
        display: none;
    }

    main {
        padding: 5px;
    }

    section {
        width: 100%;
        margin-top: 10px;
    }

    #about {
        margin-top: 20px;
    }

    .project a {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .project a img {
        border-radius: 0px 0px 15px 15px;
        bottom: 0px;
        max-width: 100%;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .skills-experience div {
        width: 100%;
    }

    .skills-experience img {
        display: none;
    }

    #skill-learning button {
        width: 100%;
    }

    #contact {
        width: 90%;
    }

    #contact-row div {
        width: 100%;
    }

    #form-inner {
        padding: 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .to-top{
        display: none !important;
    }

    footer ul {
        flex-direction: row;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}